.widget
	.widget__title Instagram

	.widget-instagram
		+widget-instagram__item('insta-01.jpg')
		+widget-instagram__item('insta-02.jpg')
		+widget-instagram__item('insta-03.jpg')
		+widget-instagram__item('insta-04.jpg')
		+widget-instagram__item('insta-05.jpg')
		+widget-instagram__item('insta-06.jpg')
		+widget-instagram__item('insta-07.jpg')
		+widget-instagram__item('insta-08.jpg')
		+widget-instagram__item('insta-09.jpg')
		+widget-instagram__item('insta-10.jpg')
