.button-rounded {
	height: 38px;
	padding: 0 40px;
	background-color: #375573;
	border-radius: 50px;
	border: none;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 38px;
	text-transform: uppercase;
	letter-spacing: 0.24px;
	color: #FFFFFF;

	cursor: pointer;
	transition: background-color .2s ease-in;

	&:hover {
		background-color: lighten(#375573, 20%);
	}
}

.button-read-more {
	display: inline-block;
	height: 44px;
	padding: 0 30px;
	background: #375573;
	border-radius: 6px;
	font-weight: 500;
	font-size: 12px;
	line-height: 44px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.24px;
	color: #FFFFFF;

	cursor: pointer;
	transition: background-color .2s ease-in;

	&:hover {
		background-color: lighten(#375573, 20%);
		color: #FFFFFF;
	}
}