.copyright {
	padding: calc((60px - 14px) / 2) 0;
	background: #E8EBEE;
}

.copyright__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 0.28px;
	color: #B7BABE;
	text-align: center;
}