.header {
	padding: 50px 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #DDE2E7;
} 
		
.header__search {
	display: flex;
	align-items: center;
}

.header__search-icon {
	margin-right: 45px;
}