.pagination {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.pagination__text-link, a.pagination__text-link {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.28px;
	text-decoration: none;
	color: #000000;

	&:hover {
		color: #E84C50;
		text-decoration: none;
	}
}

.pagination__current {
	display: flex;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.36px;
	color: #E84C50;

	&> *:not(:last-child) {
		margin-right: 20px;
	}
}

.pagination__current-active {
	color: #E84C50;
}

.pagination__current-link {
	color: #000000;
	text-decoration: none;

	&:hover {
		color: #E84C50;
		text-decoration: none;
	}
}