.widget {
	width: 270px;
	&:first-child {
		margin-top: 60px;
	}
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}
.widget__title {
	padding-top: 25px;
	height: 70px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;

	font-weight: 700;
	font-size: 18px;
	text-align: center;
	line-height: 1;
	color: #000000;
}